In [97]:
import pandas as pd


oecd = pd.read_csv("BLI2015_05012019024929717.csv")
oecd.head()
oecd[''].value_counts()

Finland            90
Portugal           90
Chile              90
Poland             90
Iceland            90
Sweden             90
Czech Republic     90
Estonia            90
Hungary            90
Greece             90
Turkey             90
Mexico             90
Korea              90
Slovak Republic    90
Russia             90
Japan              90
New Zealand        90
Ireland            90
Italy              90
Switzerland        90
Norway             90
France             89
Germany            89
Luxembourg         89
Spain              89
Australia          89
United Kingdom     89
Austria            89
Canada             89
Belgium            88
United States      88
Israel             88
Netherlands        88
Denmark            88
Slovenia           88
Brazil             88
OECD - Total       74
Name: Country, dtype: int64

In [115]:
oecd['Country']
oecd.shape

(3292, 17)

array([['Australia'],
       ['Austria'],
       ['Belgium'],
       ...,
       ['Russia'],
       ['Slovenia'],
       ['OECD - Total']], dtype=object)

In [121]:
ttt = pd.read_csv("test.csv",names = [1])
ttt[1].value_counts
ttt[1]

LOCATION  Country    INDICATOR  Indicator                           MEASURE  Measure  INEQUALITY  Inequality  Unit Code  Unit        PowerCode Code  PowerCode  Reference Period Code  Reference Period  Value  Flag Codes              Flags
AUS       Australia  HO_BASE    Dwellings without basic facilities  L        Value    TOT         Total       PC         Percentage  0               Units      NaN                    NaN               1.1    E             Estimated value
AUT       Austria    HO_BASE    Dwellings without basic facilities  L        Value    TOT         Total       PC         Percentage  0               Units      NaN                    NaN               1      NaN                       NaN
BEL       Belgium    HO_BASE    Dwellings without basic facilities  L        Value    TOT         Total       PC         Percentage  0               Units      NaN                    NaN               2      NaN                       NaN
CAN       Canada     HO_BASE    Dwellings without basic facilities  L        Value    TOT         Total       PC         Percentage  0               Units      NaN                    NaN               0.2    NaN                       NaN
Name: 1, dtype: object

In [103]:
tte = pd.read_csv("test.c